<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>

  <header th:insert="common/style :: styleRegister"></header>

</head>
<body>
<div class="form-container">
  <h2>Add new user</h2>
  <div th:if="${message}">
    <span th:text="${message}"></span>
  </div>
  <form th:action="@{/registration}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /></div>
    <div><input type="submit" value="Sign Up"/></div>
  </form>
</div>
</body>
</html>
